renv@1.1.5
readr@2.1.5
readtext@0.92.1
stringr@1.5.2
stringi@1.8.7
quanteda@4.3.1
quanteda.textmodels@0.9.10
quanteda.textstats@0.97.2
quanteda.textplots@0.96
topicmodels@0.2.17
stm@1.3.8
seededlda@1.4.3
keyATM@0.5.4
wordvector@0.5.1
tidymodels@1.4.1
ollamar@1.2.2
ellmer@0.3.2
mall@0.2.0
dplyr@1.1.4
tidyr@1.3.1
purrr@1.1.0
lubridate@1.9.4
ggplot2@4.0.0
